---
layout: default
---

<!-- <div id="projects">
    {% assign loopindex = 0 %}
    {% for project in site.projects %}
        {% assign loopindex = loopindex | plus: 1 %}
        {% assign rowfinder = loopindex | modulo: 2 %}
        {% if rowfinder == 1 %}
            <div class="row"><div class="col-md-6">{% include project.html project=project %}</div>
        {% elsif rowfinder == 0 %}
            <div class="col-md-6">{% include project.html project=project %}</div></div>
        {% else %}
            <div class="col-md-6">{% include project.html project=project %}</div>
        {% endif %}
    {% endfor %}
    {% if rowfinder != 0 %}
      </div>
    {% endif %}
</div> -->

<div id="projects">
    {% for project in site.projects %}
    <div class="row c{% cycle '1', '2', '3', '4', '5', '6', '7' %}"
         onclick="window.location='{{ project.url | prepend: site.baseurl }}';">
        <div class="overlay"></div>
        <div class="col-md-12">
            {% include project.html project=project %}
        </div>
    </div>
    {% endfor %}
</div>