$adjustment: 5px;

img {
  &.me {
    $width: 35px;
    width: $width;
    border-radius: $width;
    position: relative;
    bottom: 2px;
    right: $adjustment;
  }
}

h2 {
  padding-left: $adjustment;
}