@import "_transitions.scss";

#all-posts {
  h1, h2, h3, p {
    margin: 0;
  }
  color: white;
  .placeholder-img {
    border: none;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
    position: relative;
    .col {
      padding: 20px;
    }
  }
  .content {
    opacity: 0.7;
    font-size: 15px;
    line-height: 23px;
  }
}